* { box-sizing: border-box; }

body { font-family: sans-serif; }

.services_column{
  background: #f9fafe;
  width: 500px;;
  height: 500px;
  margin: 0;
}
.Logo img{
  width: 200px;
  height: 200px;
}
li{
  font-size: 16px;
  font-weight: 400 !important;  
}
.dropdown-menu ul li{
  font-size: 16px;
  font-weight: 400 !important;
}

* { box-sizing: border-box; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: auto;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.btn-deactive{
  background: #cbe1ff;
}
.card-body a{
  text-decoration: none;
  color: #000;
}
.card img:hover{
  transform: scale(1.1);
  transition: .5s;
  cursor: pointer;
}
.card img{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: .5s;
}
.custom-box{
  background: #fff;
  border:solid 1px #EEE ;
  padding: 36px 10px 26px;
  width: auto;
  height: 100%;
}
.bg-while{
  background: #fff;
  height: auto;
  position: relative;
	overflow: hidden;
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
	text-align: center;
}
.bg-while .decoration-star{
  position: absolute;
	top: 600px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}
.bg-while .decoration-star-2{
  position: absolute;
	top: 600px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}
