.dataTables_filter {
  display: none;
}
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info{
  margin-top: 1.3rem!important;
}
.dataTables_length select {
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.dataTables_length select {
  min-width: 4rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 0 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
  border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active {
  background-color: #4A6CF7;
}
.menu-box{
  height: 200px;
  width: 200px;
}
.menu a:hover{
    transition: .3s;
    background: #fff !important;
    top:5px;
}
.menu a:hover svg{
  transform: scale(1.1);
  transition: .3s;
}
.badge_home{
  right: 5%!important;
  top: 35px;
  border-radius: 50px;
  padding: 10px;
}
.start-70{
  right: 20px;
  top: 35px;
}
